.toggle-button {
margin-top: 50px;
background-color: red;
border: none;
width: 30px;
height: 30px;
}

.toggle-animate {
  margin-top: 50px;
background: orange;
width: 30px;
height: 30px;
}

.dot-sample {
  margin-top: 50px;
  background: pink;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
