.red{
background-color: red;
border: none;
border-radius: 50%;
width: 30px;
height: 30px;
float:left;
}

.green {
  background-color: green;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float:left;
}

.blue{
  background-color: blue;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float:left;
}
