.play {
    position: relative;
    display: block;
    margin: 0 0 0 -1px;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: black;
    color: pink;
}

.pause {
    position: relative;
    display: block;
    margin: 0 0 0 -1px;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: black;
    color: pink;
}
