// .dots {
//  display: inline-block;
//  padding: 20px;
//  color: white;
//  position: relative;
//  margin: 0 0 10px 0;
// }

.animation {
  animation: move-in-steps 8s infinite;
}

body {
  padding: 20px;
}

@keyframes move-in-steps {
  0% {
    top: 0;

  }
  90% {
    bottom: 100%;
  }
}
