.toggle-button {
background-color: red;
border: none;
width: 30px;
height: 30px;
}

.toggle-animate {
background: orange;
width: 30px;
height: 30px;
}

.dot-sample {
  background: pink;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
